.divMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.h2 {
    margin: 0 0 0 .5em;
}

.divQuestion {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.divQuestion:last-child {
    color: red;
    margin: 0 0 1em
}

.inputText {
    border: none;
    padding: .2em;
    background: rgba(128, 128, 128, 0.411);
    height: 1.5em;
    outline: none;
    border-radius: 5px;
}

.divButton {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 29%;
    bottom: 0;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 2em 3em;
    align-self: center;
    border: none;
    background: #259cfd;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    background: #259cfd7e;
}
