.divMainContainer {
    width: 100%;
    height: 100%;
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.divContainerButtons {
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items: center;
    min-width: 15%;
}

.link {
    width: 100%;
}

.button {
    border: none;
    background: #259cfd;
    width: 100%;
    color: white;
    padding: 1em;
    align-self: center;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background: #259cfd7e;
}