.divContainerMain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: .5em;
}