.divContainerMain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.button {
    border: none;
    width: 50%;
    background: #259cfd;
    color: white;
    padding: 1em;
    align-self: center;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background: #259cfd7e;
}