.divContainerMain {
  display: grid;
  max-width: 100%;
  overflow-x: hidden;
  grid-template-areas:
    "checklist home"
    "checklist choose";
  grid-template-columns: 50% 50%;
  height: 100%;
  gap: 1em;
}

.divContainerChecklist {
  grid-area: checklist;
  overflow-y: scroll;
  min-height: 98vh;
}

.containerTab{
  position: relative;
  display: flex;
  background: #259cfd;
  border-top-left-radius: 1em;
  margin: 0 .1em;
  color: white;
  font-weight: bolder;
}

.divNameTab {
  padding: .5em 1.5em;
}

.containerTabDel{
  position: absolute;
  right: 0;
}
.containerTabDel img:hover {
  opacity: .2;
}

.containerTab:hover {
  cursor: pointer;
  background: #175e99;
}

.tabsContainer{
  display: flex;
}

.divContainerSelect {
  grid-area: home;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divContainerChoose {
  grid-area: choose;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.button {
  border: none;
  width: 50%;
  background: #259cfd;
  color: white;
  padding: 1em;
  align-self: center;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  background: #259cfd7e;
}
