#main {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}


footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  letter-spacing: .5rem;
  width: 100%;
}